<html>
    <head>
        <title>Upload Page</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            <b>Select a document to scan: </b><br>
            {{ documentform.csrf_token }}
            {{ documentform.doc }}<br>
            <span class="validation_error">{{ ', '.join(documentform.doc.errors) }}</span><br>
            <input type="submit" value="upload">
        </form>
        {% if not filename == '' and not documentform.doc.errors %}
            Document succesfully uploaded<br>
            Scan this document(this might take some minutes)?<br>
            <form method="GET" action="{{url_for('review_doc', filename=filename)}}">
                <input type="submit" value="Confirm">
            </form>
        {% endif %}
    </body>
</html>