<html>
    <head>
        <title>Upload Page</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            <b>Select multiple file to analyse: </b><br>
            {{ multipleimageform.csrf_token }}
            {{ multipleimageform.files }}<br>
            <span class="validation_error">{{ ', '.join(multipleimageform.files.errors) }}</span><br>
            <input type="submit" value="upload">
        </form>

        {% for error in errors %}
            {{ error }}<br>
        {% endfor %}

        {% if filenames %}
            <b>Upload Done</b><br>
            {% for filename in filenames %}
                {{ filename[36:] }}<br>
            {% endfor %}
        {% endif%}

    <a href="{{url_for('index')}}">index</a>
    </body>   
</html>